{% extends "base.html" %}

{% set DOMAIN = 'docs.tildes.net' %}

{% block meta_og_tags %}
  <meta property="og:site_name" content="Tildes Docs">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:type" content="website">
  <meta property="og:description" content="{{ page.summary }}">
  <meta property="og:url" content="{{ page.url }}">
{% endblock %}

{% block title %}{{ page.title }}{% endblock %}

{% block header %}
  <a class="site-header-logo" href="https://{{ DOMAIN }}">Tildes Docs</a>
{% endblock header %}

{% block content %}
<ul class="breadcrumb">
  <li class="breadcrumb-item"><a href="https://docs.tildes.net">Tildes Docs</a></li>
  {% if page.category != "pages" and page.slug != "index" %}
    <li class="breadcrumb-item">
      <a href="https://docs.tildes.net/{{ page.category|lower }}">{{ page.category }}</a>
    </li>
  {% endif %}
</ul>

<h1>{{ page.title }}</h1>

{% if page.modified %}
<div class="date-info text-secondary text-small">
  Page last updated: {{ page.locale_modified }}
  (<a href="{{ GITLAB_HISTORY_BASE_URL ~ page.get_relative_source_path() }}">view history</a>)
</div>
{% endif %}

{{ page.content }}

<div class="divider"></div>
<div class="page-info text-secondary">
  The text of this page is licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Creative Commons Attribution-ShareAlike 4.0</a>.<br>
{% if page.category != "policies" %}
  You can propose changes to this page by editing the copy of it available in <a href="https://tildes.net/~tildes.official/wiki" target="_blank">the wiki for the ~tildes.official group on Tildes itself</a>.
{% endif %}
</div>
{% endblock %}

{% block pagelist %}
  <h2>Documents</h2>
  <ul>
  {# Output the page list, excluding all index pages #}
  {% for other_page in pages if other_page.slug != "index" %}
    {# Print category header if this page's category is different from previous one #}
    {% if other_page.category != "pages" and other_page.category != loop.previtem.category %}
      {% if loop.previtem.category != "pages" %}
      </ul>
      {% endif %}

      <li><h3>{{ other_page.category }}</h3></li>
      <ul>
    {% endif %}

    {% if other_page == page %}
      <li class="current">
    {% else %}
      <li>
    {% endif %}

    <a href="{{ other_page.url }}">{{ other_page.title }}</a>
    </li>
  {% endfor %}
  </ul>
  </ul>
{% endblock %}
